<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="EPiServer.CMS.Core" version="11.11.3" targetFramework="net462" />
    <package id="EPiServer.CMS.UI.Core" version="11.11.3" targetFramework="net462" />
    <package id="EPiServer.Framework" version="11.11.3" targetFramework="net462" />
    <package id="EPiServer.Framework.AspNet" version="11.11.3" targetFramework="net462" />
    <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net462" />
</packages>